@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --clr-primary: #f29f05;
}

.btn {
  background-image: linear-gradient(
    30deg,
    var(--clr-primary) 50%,
    transparent 50%
  );
  background-size: 500px;
  background-repeat: no-repeat;
  transition: background 300ms ease-in-out;
  background-position: 0%;
}

.btn:hover {
  background-position: 100%;
  background-color: transparent;
}
