@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .heading {
    @apply text-6xl font-bold text-gray-800 text-center mb-5;
  }

  .label {
    @apply block text-lg mb-2;
  }

  .input {
    @apply p-2 rounded-lg border-2 border-slate-500 w-full;
  }
}

:root {
  --clr-primary: #f29f05;
}

.loader {
  width: 45px;
  aspect-ratio: 0.75;
  --c: no-repeat linear-gradient(theme(colors.stone.800) 0 0);
  background:
    var(--c) 0% 50%,
    var(--c) 50% 50%,
    var(--c) 100% 50%;
  background-size: 20% 50%;
  animation: loading 1s infinite linear;
}

@keyframes loading {
  20% {
    background-position:
      0% 0%,
      50% 50%,
      100% 50%;
  }
  40% {
    background-position:
      0% 100%,
      50% 0%,
      100% 50%;
  }
  60% {
    background-position:
      0% 50%,
      50% 100%,
      100% 0%;
  }
  80% {
    background-position:
      0% 50%,
      50% 50%,
      100% 100%;
  }
}

.btn {
  background-image: linear-gradient(
    30deg,
    var(--clr-primary) 50%,
    transparent 50%
  );
  background-size: 800px;
  background-repeat: no-repeat;
  transition: background 300ms ease-in-out;
  background-position: 0%;
}

.btn:hover {
  background-position: 100%;
  background-color: transparent;
}
